<div class='intro'>
	<h1 class='intro__hed'>{{meta.title}}</h1>
	<p class='intro__byline'>By
		<a href='{{meta.authors.[0].url}}' target='_blank'>
			<strong>{{meta.authors.[0].name}}</strong>
		</a>
	</p>
	<time class='intro__time'>June 2022</time>
</div>